<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #F9F5F1;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(odd) {
    background-color: #E5DCD2;
    animation: odd-cell 15s infinite;
  }

  @keyframes odd-cell
    {
      50% {
        background-color: #E6D7B9;
      }
    }

  tr:nth-child(even) {
    background-color: #E6D7B9;
    animation: even-cell 15s infinite;
  }

  @keyframes even-cell
    {
      50% {
        background-color: #E5DCD2;
      }
    }
  }
</style>

<div class="glowsmall"><center>
  <br>
 <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
</center></div><br>
<center>
<div class="typewriter"><br><h1><font color="red"> &#x26a0;WARNING&#x26a0;</font></h1><br><h3><font color="red">You must <strong>SAVE</strong> each row after making changes.</font></h3></div></center>
  <br>

<table>
  <tr>
    <th><center></center></th>
    <th><center></center></th>
    <th></th>
    <th></th>
  </tr>


  <% @the_whole_enchilada = [] %>

  <% @project.tasks.order(:segment).order(:calculated_rank).each_cons(2) do |task, next_task| %>
    <% @the_whole_enchilada << [task.segment, next_task.segment] %>
  <% end %>

<% @table_formatting_array_for_segments = [] %>
<% @table_formatting_counter = 0 %>

<% @project.tasks.order(:segment).order(:calculated_rank).each_cons(2) do |task, next_task| %>
  <% @table_formatting_array_for_segments << [task.segment, next_task.segment] %>
  <% @table_formatting_counter += 1 %>

  <% if task.segment == "A" && (@table_formatting_counter == 1) && (next_task.segment == "B") %>
  <tr><td></td><td></td><td></td><td></td></tr>
  <tr>
    <td></td>
    <td><center><strong>FOUNDATIONAL</strong></center></td>
    <td style="background-color:red;">
    <form class="" action="/phase_3_segments_complete/<%= @project.id %>" method="post">
      <input type="hidden" name="project_id" value=<%=@project.id%>>
      <input type="hidden" name="the_action_description" value="THIS IS YOUR NEW TASK">
      <input type="hidden" name="comment_or_measure" value="unnecessary">
      <input type="hidden" name="segment" value="A">
      <input type="hidden" name="calculated_rank" value= 0.0 >
      <input type="hidden" name="golem" value="questions complete">
      <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
      </form>
    </td>
    <td></td>
  </tr>
  <tr>
  <td><%=task.base_rank.to_i + 1%></td>
    <td>
    <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
    </td>
    <td>
    <center><input type="submit" value="SAVE"></center>
    </form>
    </td>
  <td>
    <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <center><input type="submit" value="DELETE"></center>
    </form>
  </td>
  </tr>
  <tr><td></td><td></td><td></td><td></td></tr>
  <tr>
    <td></td>
    <td><center><strong>INTERMEDIARY</strong></center></td>
    <td style="background-color:red;">
    <form class="" action="/phase_3_segments_complete/<%= @project.id %>" method="post">
      <input type="hidden" name="project_id" value=<%=@project.id%>>
      <input type="hidden" name="the_action_description" value="THIS IS YOUR NEW TASK">
      <input type="hidden" name="comment_or_measure" value="unnecessary">
      <input type="hidden" name="segment" value="B">
      <input type="hidden" name="calculated_rank" value= 0.0 >
      <input type="hidden" name="golem" value="questions complete">
      <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
      </form>
    </td><td></td>
  </tr>

  <% elsif task.segment == "A" && (@table_formatting_counter == 1) %>
  <tr><td></td><td></td><td></td><td></td></tr>
  <tr>
    <td></td>
    <td><center><strong>FOUNDATIONAL</strong></center></td>
    <<td style="background-color:red;">
    <form class="" action="/phase_3_segments_complete/<%= @project.id %>" method="post">
      <input type="hidden" name="project_id" value=<%=@project.id%>>
      <input type="hidden" name="the_action_description" value="THIS IS YOUR NEW TASK">
      <input type="hidden" name="comment_or_measure" value="unnecessary">
      <input type="hidden" name="segment" value="A">
      <input type="hidden" name="calculated_rank" value= 0.0 >
      <input type="hidden" name="golem" value="questions complete">
      <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
      </form>
    </td><td></td>
  </tr>

  <tr>
  <td><%=task.base_rank.to_i + 1%></td>
  <td>
  <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
  </td>
  <td>
  <center><input type="submit" value="SAVE"></center>
  </form>
  </td>
  <td>
    <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <center><input type="submit" value="DELETE"></center>
  </form>
  </td>
  </tr>

  <% elsif task.segment == "A" && (next_task.segment == "A") %>
  <tr>
  <td><%=task.base_rank.to_i + 1%></td>
  <td>
  <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
  </td>
  <td>
  <center><input type="submit" value="SAVE"></center>
  </form>
  </td>
  <td>
    <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <center><input type="submit" value="DELETE"></center>
  </form>
  </td>
  </tr>



  <% elsif task.segment == "A" && (next_task.segment == "B") %>
  <tr>
  <td><%=task.base_rank.to_i + 1%></td>
  <td>
  <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
  </td>
  <td>
  <center><input type="submit" value="SAVE"></center>
  </form>
  </td>
  <td>
    <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <center><input type="submit" value="DELETE"></center>
    </form>
  </td>
  </tr>

  <tr><td></td><td></td><td></td><td></td></tr>
  <tr>
    <td></td>
    <td><center><strong>INTERMEDIARY</strong></center></td>
    <td style="background-color:red;">
    <form class="" action="/phase_3_segments_complete/<%= @project.id %>" method="post">
      <input type="hidden" name="project_id" value=<%=@project.id%>>
      <input type="hidden" name="the_action_description" value="THIS IS YOUR NEW TASK">
      <input type="hidden" name="comment_or_measure" value="unnecessary">
      <input type="hidden" name="segment" value="B">
      <input type="hidden" name="calculated_rank" value= 0.0 >
      <input type="hidden" name="golem" value="questions complete">
      <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
      </form>
    </td><td></td>
  </tr>

  <% elsif task.segment == "B" && (next_task.segment == "B") %>
  <tr>
  <td><%=task.base_rank.to_i + 1%></td>
  <td>
  <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
  </td>
  <td>
  <center><input type="submit" value="SAVE"></center>
  </form>
  </td>
  <td>
    <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <center><input type="submit" value="DELETE"></center>
    </form>
  </td>
  </tr>

  <% elsif task.segment == "B" && (next_task.segment == "C") %>
    <%if @table_formatting_counter == @the_whole_enchilada.size %>
      <tr>
      <td><%=task.base_rank.to_i + 1%></td>
      <td>
      <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
      </td>
      <td>
      <center><input type="submit" value="SAVE"></center>
      </form>
      </td>
      <td>
        <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <center><input type="submit" value="DELETE"></center>
        </form>
      </td>
      </tr>
      <tr><td></td><td></td><td></td><td></td></tr>
      <tr>
        <td></td>
        <td><center><strong>FINAL</strong></center></td>
        <td style="background-color:red;">
        <form class="" action="/phase_3_segments_complete/<%= @project.id %>" method="post">
          <input type="hidden" name="project_id" value=<%=@project.id%>>
          <input type="hidden" name="the_action_description" value="THIS IS YOUR NEW TASK">
          <input type="hidden" name="comment_or_measure" value="unnecessary">
          <input type="hidden" name="segment" value="C">
          <input type="hidden" name="calculated_rank" value= 0.0 >
          <input type="hidden" name="golem" value="questions complete">
          <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
          </form>
        </td><td></td>
      </tr>
      <tr>
      <td><%=next_task.base_rank.to_i + 1%></td>
      <td>
      <form class="" action="/phase_3_segments_saved/<%=next_task.id%>/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= next_task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
      </td>
      <td>
      <center><input type="submit" value="SAVE"></center>
      </form>
      </td>
      <td>
        <form class="" action="/phase_3_segments_complete/<%=next_task.id%>/<%=@project.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <center><input type="submit" value="DELETE"></center>
      </form>
    </td>
      </tr>
      <% else %>
      <tr>
      <td><%=task.base_rank.to_i + 1%></td>
      <td>
      <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
      </td>
      <td>
      <center><input type="submit" value="SAVE"></center>
      </form>
      </td>
      <td>
        <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <center><input type="submit" value="DELETE"></center>
      </form>
      </td>
      </tr>

      <tr><td></td><td></td><td></td><td></td></tr>
      <tr>
        <td></td>
        <td><center><strong>FINAL</strong></center></td>
        <td style="background-color:red;">
        <form class="" action="/phase_3_segments_complete/<%= @project.id %>" method="post">
          <input type="hidden" name="project_id" value=<%=@project.id%>>
          <input type="hidden" name="the_action_description" value="THIS IS YOUR NEW TASK">
          <input type="hidden" name="comment_or_measure" value="unnecessary">
          <input type="hidden" name="segment" value="C">
          <input type="hidden" name="calculated_rank" value= 0.0 >
          <input type="hidden" name="golem" value="questions complete">
          <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
          </form>
        </td><td></td>
      </tr>
    <%end %>


  <% elsif (task.segment == "C" && (next_task.segment == "C")) %>
      <%if @table_formatting_counter == @the_whole_enchilada.size %>
      <tr>
      <td><%=task.base_rank.to_i + 1%></td>
      <td>
      <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
      </td>
      <td>
      <center><input type="submit" value="SAVE"></center>
      </form>
      </td>
      <td>
        <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <center><input type="submit" value="DELETE"></center>
      </form>
    </td>
      </tr>

      <tr>
      <td><%=next_task.base_rank.to_i + 1%></td>
      <td>
      <form class="" action="/phase_3_segments_saved/<%=next_task.id%>/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= next_task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
      </td>
      <td>
      <center><input type="submit" value="SAVE"></center>
      </form>
      </td>
      <td>
        <form class="" action="/phase_3_segments_complete/<%=next_task.id%>/<%=@project.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <center><input type="submit" value="DELETE"></center>
      </form>
      </td>
      </tr>

      <% else %>
      <tr>
      <td><%=task.base_rank.to_i + 1%></td>
      <td>
      <form class="" action="/phase_3_segments_saved/<%=task.id%>/<%= @project.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
      </td>
      <td>
      <center><input type="submit" value="SAVE"></center>
      </form>
      </td>
      <td>
        <form class="" action="/phase_3_segments_complete/<%=task.id%>/<%=@project.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <center><input type="submit" value="DELETE"></center>
      </form>
      </td>
      </tr>
    <% end %>

  <% else %>
   <tr>
    <% end %>
  </tr>

  <% end %>

</table>


<form class="" action="/phase_4/<%=@project.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
<center><input type="submit" value="LOOKS GOOD! CONTINUE"></center>
</form>
