<br>
<h1 class="glow">QUESTION TIME.</h1>
<br>
<div class="glowsmall"><center>
  <br>
 <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
</center></div><br>
<center class="glowsmall">
<div class="typewriter"><br>
STRONGLY  CONSIDER  THESE QUESTIONS<br>
ESPECIALLY  IN THE CONTEXT  OF YOUR<br>
TASK AND THE COMMENTS YOU JUST MADE</div>
</center>

TASK SCORE ID
<%= @task_score.task_id %><br>

TASK NECESSARY OR OPTIONAL FOR RENDERING
<%= @task_score.necessary_or_optional_for_form_rendering %> <br>

TASK QUICK OR SLOW FOR RENDERING
<%= @task_score.quick_or_slow_for_form_rendering %> <br>

TASK EASY OR HARD FOR RENDERING
<%= @task_score.easy_or_hard_for_form_rendering %> <br>

TASK ACTION DESCRIPTION
<%= @task.the_action_description %><br>

TASK COMMENT OR MEASURE
<%= @task.comment_or_measure %><br>

#THIS FORM IS NOT WORKING
<form class="" action="/phase_2_question_time/<%= @project.id %>/<%=@task.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="string" name="necessary_or_optional_for_form_rendering" placeholder="unknown" size="10"><br><br>
    <input type="string" name="quick_or_slow_for_form_rendering" placeholder="unknown" size="10"><br><br>
    <input type="string" name="easy_or_hard_for_form_rendering" placeholder="unknown" size="10"><br><br>
    <input type="submit" value="NEXT QUESTION">
</form>
