<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #BED4E5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #D1D7EC;
  animation: odd-cell 15s infinite;
}

@keyframes odd-cell
  {
    50% {
      background-color: #DFE3F2;
    }
  }

tr:nth-child(even) {
  background-color: #D2E1ED;
  animation: even-cell 15s infinite;
}

@keyframes even-cell
  {
    50% {
      background-color: #E5EEF5;
    }
  }
}
</style>



<div class="glowsmall"><center>
  <br>
 <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
</center></div><br>
<center>
<div class="typewriter"><br><h1 class="glow"><font color="red"> WARNING!!!</h1><br><br><h3 class="glowsmall"You MUST save each row after making changes.<br>If you attempt a mass edit, your data will be lost.<br></font></div></h3></center>
  <br>
<table>
  <tr>
    <th>TASKS</th>
    <th></th>
    <th></th>
  </tr>
<% @project.tasks.each do |task| %>
  <tr>
  <td>
    <center>
    <form class="" action="/phase_1_saved/<%=task.id%>/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
    </td>
    <td>
    <center><input type="submit" value="SAVE"></center>
    </form>
    </td>
    <td>
    <form class="" action="/phase_1_saved/<%=task.id%>/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <center><input type="submit" value="DELETE"></center>
    </form>
    </td>
    </tr>
    <% end %>
    <tr>
    <td>
    <form class="" action="/phase_1_task_add/<%= @project.id %>" method="post">
      <center><textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"></textarea></center>
      <input type="hidden" name="project_id" value=<%=@project.id%>>
      <td>
      <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
      </td>
    </form>
    </td>
    <td>
      <form class="" action="/phase_2/<%= @project.id %>" method="get">
        <input type="hidden" name="project_id" value=<%=@project.id%>>
        <center><input type="submit" value="PHASE II"></center>
    </td>
    </tr>
</table>
