<br>
<center>
<h2>the correct format is...<br><strong class="glowblue">T:</strong> your task here <strong class="glowblue">:E</strong><br>
<strong class="glowblue">T:</strong> your task here <strong class="glowblue">:e</strong><br>
<strong class="glowblue">t:</strong> your task here <strong class="glowblue">:e</strong><br>
<strong class="glowblue">t:</strong> your task here <strong class="glowblue">:E</strong></h2>
</center>
<br><br>
<form class="" action="/phase_1_preview/<%=@project.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="project_name">PROJECT NAME: </label><br>
  <input type="string" name="project_name" value="<%= @project.project_name %>" size="84"><br>
  <label for="project_summary">PROJECT SUMMARY: </label>
  <input type="string" name="project_summary" value="<%= @project.project_summary %>" size="84"><br>
  <label for="the_initial_blob_to_parse">PHASE I BLOB INPUT UNPARSED: </label><br>
    <textarea rows="40" cols="83" type="text" name="the_initial_blob_to_parse" style="resize: none"><%= @project.the_initial_blob_to_parse%></textarea><br>
  <input type="hidden" name="user_id" value=<%=@user.id%>>
  <input type="hidden" name="project_id" value=<%=@project.id%>>
  <input type="hidden" name="current_phase" value="1">
  <input type="submit" value="PREVIEW">
</form>

<center>a message from ariadne</center>
