<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #F9F5F1;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(odd) {
    background-color: #E5DCD2;
    animation: odd-cell 15s infinite;
  }

  @keyframes odd-cell
    {
      50% {
        background-color: #E6D7B9;
      }
    }

  tr:nth-child(even) {
    background-color: #E6D7B9;
    animation: even-cell 15s infinite;
  }

  @keyframes even-cell
    {
      50% {
        background-color: #E5DCD2;
      }
    }
  }
</style>



<div class="glowsmall"><center>
  <br>
 <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
</center></div><br>
<center>
<div class="typewriter"><br><h1 class="glow"><font color="red"> &#x26a0;WARNING&#x26a0;</font></h1><br><h3 class="glowsmall"><font color="red">You must <strong>SAVE</strong> each row after making changes.</font></h3></div></center>
  <br>
<table>
  <tr>
    <th>TASKS</th>
    <th></th>
    <th></th>
  </tr>
<% @project.tasks.each do |task| %>
  <tr>
  <td>
    <center>
    <form class="" action="/phase_1_saved/<%=task.id%>/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="comment_or_measure" value="you must change this to continue.">
      <textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"><%= task.the_action_description.gsub(/(\[" )|( "]|\[")|("])/, '')%></textarea>
    </td>
    <td>
    <center><input type="submit" value="SAVE"></center>
    </td>
    </form>
    <td>
    <form class="" action="/phase_1_saved/<%=task.id%>/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <center><input type="submit" value="DELETE"></center>
    </form>
    </td>
    </tr>
    <% end %>
    <tr>
    <td>
    <form class="" action="/phase_1_task_add/<%= @project.id %>" method="post">
      <center><textarea style="resize: none" rows="3" cols="60" type="text" name="the_action_description"></textarea></center>
      <input type="hidden" name="project_id" value=<%=@project.id%>>
      <input type="hidden" name="comment_or_measure" value="you must change this to continue.">
      <input type="hidden" name="base_rank" value=0.0>
      <td style="background-color:red;">
      <center class="glowblue"><input type="submit" value="ADD A TASK"></center>
      </td>
    </form>
    </td>
    <td style="background-color:black;">
      <form class="" action="/phase_2/<%= @project.id %>" method="get">
        <input type="hidden" name="project_id" value=<%=@project.id%>>
        <center><input type="submit" value="PHASE II"></center>
    </td>
    </tr>
</table>
