<h1>PHASE I - PREVIEW - CHECK YOUR DATA!</h1>
<form class="" action="/phase_1_preview_something_sucked_let_me_fix_it/<%=@project.id%>" method="get">
  PROJECT NAME:<br><%= @project.project_name %><br><br>
  PROJECT SUMMARY:<br><%= @project.project_summary %><br><br>
  THE PARSED BLOB:<br><%= @project.the_initial_blob_to_parse.scan(/\b(t:)(.*?)(:e)\b/i).collect {|the_task, the_content, the_end| the_content}.join("<br>") %><br><br>
  <input type="hidden" name="the_initial_blob_to_parse" value=<%= @project.the_initial_blob_to_parse %>>
  <input type="hidden" name="user_id" value=<%=@user.id%>>
  <input type="hidden" name="project_id" value=<%=@project.id%>>
  <input type="hidden" name="current_phase" value="1">
  <input type="hidden" name="project_name" value=<%=@project.project_name%>>
  <input type="hidden" name="project_summary" value=<%=@project.project_summary%>>
  <center><label>DOES SOMETHING LOOK LIKE IT'S MISSING?</label><br>
  <input type="submit" value="FIX YOUR BLOB"></center>
</form>
<br>
<form class="" action="/phase_1_saved/<%=@project.id%>" method="post">
  <input type="hidden" name="the_initial_blob_to_parse" value=<%= @project.the_initial_blob_to_parse %>>
  <input type="hidden" name="user_id" value=<%=@user.id%>>
  <input type="hidden" name="project_id" value=<%=@project.id%>>
  <input type="hidden" name="current_phase" value="1">
  <input type="hidden" name="project_name" value=<%=@project.project_name%>>
  <input type="hidden" name="project_summary" value=<%=@project.project_summary%>>
  <center>
    <label>IF EVERYTHING LOOKS GOOD...</label><br><input type="submit" value="CONTINUE."></center>
</form>
<br><br>
<center>a message from ariadne</center>
