<h1>PHASE I - PREVIEW</h1><h2><%= @user.first_name %> CHECK YOUR DATA</h2>

<form class="" action="/update_in_place/<%=@project.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="project_name">PROJECT NAME: </label>
  <input type="string" name="project_name" value="<%= @project.project_name %>" size="80"><br>
  <label for="project_summary">PROJECT SUMMARY: </label>
  <input type="string" name="project_summary" value="<%= @project.project_summary %>" size="80"><br>
  <label for="the_initial_blob_to_parse">PHASE I BLOB INPUT UNPARSED: </label><br>
    <textarea rows="34" cols="80" type="text" name="the_initial_blob_to_parse"><%= @project.the_initial_blob_to_parse.scan(/\b(t:)(.*?)(:e)\b/i).collect {|the_task, the_content, the_end| the_content}.join("&#10;") %></textarea><br>
  <input type="hidden" name="user_id" value=<%=@user.id%>>
  <input type="hidden" name="project_id" value=<%=@project.id%>>
  <input type="hidden" name="current_phase" value="1">
  <input type="submit" value="UPDATE IN PLACE">
</form>
<form class="" action="/phase_1_saved/<%=@project.id%>" method="post">
  <input type="submit" value="OR WILL YOU... SAVE AND CONTINUE">
</form>

<center>a message from ariadne</center>





















<h3>IF YOU'RE MISSING SOMETHING MAKE SURE YOU DID YOU t:: and q:: CORRECTLY</h3>
<li><a href="/phase_1_preview_something_sucked_let_me_fix_it" title="basically new project but with the previous data persisted/unaltered">Go back and fix it</a></li>

<h3>EVERYTHING LOOKED GOOD.  SAVE IT FOR NOW and COME BACK LATER.</h3>
<li><a href="/phase_1_saved" title="Your data persists">SAVE IT FOR NOW.</a></li>

<h3>I'M ON A ROLL.  SAVE IT AND CONTINUE TO PHASE II</h3>
<li><a href="/phase_2" title="Your data persists">ON TO PHASE 2.</a></li>
