
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #BED4E5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #D1D7EC;
  animation: odd-cell 15s infinite;
}

@keyframes odd-cell
  {
    50% {
      background-color: #DFE3F2;
    }
  }

tr:nth-child(even) {
  background-color: #D2E1ED;
  animation: even-cell 15s infinite;
}

@keyframes even-cell
  {
    50% {
      background-color: #E5EEF5;
    }
  }
}
</style>

<center class="glowsmall">GREETINGS <%= @user.first_name.upcase %>EUS, WELCOME TO:<br><br></center>
<h1 class="glow">PROJECTS</h1><br>

<div class="glowsmall"><center>
  <br>
 <a href="/projects" title="Projects">Projects</a> | <a href="/about2" title="About">About</a> | <a href="/contact" title="Contact">Contact</a> | <a href="/logout" title="Logout">Logout</a><br>
</center></div><br>

<table>
  <tr>
    <th>Current Phase</th>
    <th>Project Name</th>
    <th>Project Summary</th>
    <th></th>
    <th></th>
  </tr>
<% @user.projects.each do |project| %>
  <tr>
  <td><center><%= project.current_phase %></center></td>
  <td><%= project.project_name %></td>
  <td><%= project.project_summary %></td>
  <td>
    <center>
    <form class="" action="/edit_a_project/<%= project.id %>" method="get">
    <input type="submit" value="EDIT">
    </form>
    </center>
  </td>
  <td>
    <center>
    <form class="" action="/delete_a_project/<%= project.id %>" method="get">
    <input type="submit" value="DELETE">
    </form>
    </center></td>
  </tr>
<% end %>
</table>
<br>
<center>
<a href="/create_a_new_project" class="glowblue" title="CREATE A PROJECT">Create a New Project</a>
<center>
